 .material-symbols-outlined {
     font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
 }

 .glow-effect {
     background: radial-gradient(circle at center, rgba(6, 168, 249, 0.15) 0%, transparent 70%);
 }

 .logo-image {
     width: 70px;
 }